
.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete__validation,
.autocomplete__loading,
.autocomplete__empty {
  padding: 15px 0;
}

.autocomplete__label,
.autocomplete__input,
.suggestions {
  display: block;
  width: 100%;
}

.autocomplete__input {
  padding: 15px;
}

.suggestions {
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  top: 100%;
}

.suggestion {
  outline: none;
  padding: 10px;
}

.suggestion:hover {
  cursor: pointer;
}

.content__flag {
  margin: 0 5px 0 0;
}

.suggestion small {
  color: #999;
  padding: 5px 0;
}