.spinner {
  animation: rotation 1s linear infinite;
  border-radius: 50%;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  display: inline-block;
  margin: 0 15px 0 0;
  height: 1rem;
  width: 1rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete__validation,
.autocomplete__loading,
.autocomplete__empty {
  padding: 15px 0;
}

.autocomplete__label,
.autocomplete__input,
.suggestions {
  display: block;
  width: 100%;
}

.autocomplete__input {
  padding: 15px;
}

.autocomplete__loading {
  align-items: center;
  display: flex;
}

.suggestions {
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  top: 100%;
}

.suggestion {
  outline: none;
  padding: 10px;
}

.suggestion:hover {
  cursor: pointer;
}

.content__flag {
  margin: 0 5px 0 0;
}

.suggestion small {
  color: #999;
  padding: 5px 0;
}