
.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete__label,
.autocomplete__input,
.suggestions {
  display: block;
  width: 100%;
}

.autocomplete__input {
  padding: 15px;
}

.suggestions {
  top: 100%;
  max-height: 50vh;
  overflow: auto;
  position: absolute;
}

.suggestions__item {
  outline: none;
  padding: 10px;
}

.suggestions__item b {
  display: block;
}

.suggestions__item small {
  color: #999;
  padding: 5px 0;
}

.suggestions__item--highlighted {
  background: #ddd;
}