.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  height: 75vh;
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 50vw;
  }
}