.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
}

header {
  text-align: center;
}

hr {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #fff 8px, #fff 10px);
  border: none;
  display: block;
  height: 2rem;
  margin: 30px 0;
}

header h1 {
  font-size: 1.25em;
  padding: 30px 0;
  border-bottom: 4px solid #fff;
}

main h2 {
  font-size: 1em;
  text-align: left;
}

main .autocomplete {
  margin: 30px 0;
}

#countries .autocomplete__input {
  background: #ad747c;
  border: 2px solid transparent;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: border-color .15s ease-out;
}

#countries .autocomplete__input::placeholder {
  color: #c2999e;
}

#countries .autocomplete__input:focus {
  outline: none;
  border-color: #fff;
}

#countries .suggestions {
  border: 2px solid #fff;
  border-top: none;
}


#countries .suggestion {
  background: #b6868d;
}

#countries .suggestion:not(:last-child) {
  border-bottom: 2px solid #fff;
}

#countries .suggestion__description {
  color: #d6bcc0;
}

#countries .suggestion--highlighted {
  background: #fff;
  color: #974c56;
}

#countries mark {
  background: #c2999e;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.card {
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.card__title {
  font-size: 2rem;
}

.card__content {
  line-height: 2rem;
  padding: 15px 0;
}

button {
  align-self: center;
  background: #fff;
  border: none;
  color: #974c56;
  font-weight: 700;
  margin: 15px 0;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: box-shadow .15s ease-out, transform .15s ease-out;
}

button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 75vw;
  }

  header h1 {
    font-size: 2em;
  }

  hr {
    height: 6rem;
  }

  main h2 {
    font-size: 1.5em;
    text-align: center;
  }

  #countries .autocomplete__input {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 50vw;
  }
}